body {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.wrapper-container {
  overflow-x: hidden;
  background-color: #c4ebf9;
  min-height: 100dvh;
  padding: 20px;
}

.navbar {
  background-color: #02bfb1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 60px;
  padding: 10px;
}

.nav-list {
  display: flex;
  list-style: none;
  gap: 20px;
}

.main {
  display: flex;
  gap: 20px;
  min-height: 80vh;
  margin-top: 20px;
}

aside {
  background-color: #6edb6e;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  flex-grow: 1;
  min-width: 80px;
}

article {
  background-color: #fbb04c;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-grow: 2;
}

.article-text {
  max-width: 600px;
  min-width: 100px;
}

.article-image-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.article-img {
  width: 250px;
}

@media only screen and (max-width: 478px) {
  .main {
    gap: 10px;
  }

  aside {
    flex-grow: 1;
  }
  article {
    flex-grow: 1;
    padding: 10px;
  }
  .article-img {
    width: 160px;
  }
}

@media only screen and (max-width: 576px) {
  .article-img {
    width: 180px;
  }
}
